body {
    padding: 50px;
}

.product-img {
    width: 65px;
    height: 90px;
}
.product-img-view {
    width: 120px;
}
.form-group{
 margin: 20px;
}

label{
    font-weight: bold;
}